<img [src]="imageSrc" alt="" height="500" id="hp"/>
<section>
    <blockquote class="speech bubble"><em>{{msg}}</em></blockquote>
</section>
<div class="container">
  <div class="row">
    <div class="col text-center">
        <button type="button" class="btn btn-dark" (click)="clickEvent()">Say the thing</button>
    </div>
  </div>
</div>
<table class="table table-bordered table-light">
    <thead class="table-light">
      <tr>
        <th scope="col">Peak</th>
        <th scope="col">Title</th>
        <th scope="col">Worldwide gross</th>
        <th scope="col">Year</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Morbius</td>
        <td>${{counter | number}}</td>
        <td>2022</td>
        <td><a [routerLink]="[]" (click)="increment()">Make it higher</a></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Avengers: Endgame</td>
        <td>$2,797,501,328</td>
        <td>2019</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Titanic</td>
        <td>$2,187,425,379</td>
        <td>1997</td>
        <td></td>
      </tr>
      <tr>
      </tr>
    </tbody>
  </table>

  <div id="hq">
    <p><b>MORBIUS</b></p>
    <h4><span class="badge alert-danger">NC-17</span> 2022, Adventure/Capekino, 4h 56m</h4>
    <div class="aligned">
      <img [src]="tomatoMeter" width="150" alt="">
      <span>{{tmeter}}%</span>
      <img [src]="audienceMeter" width="75" alt="" style="margin-left: 40px; margin-right: 20px;">
      <span>{{ascore}}%</span>
    </div>
    <div class="aligned">
      <h5 style="display: inline; margin-right: 100px;"><b>TOMATOMETER</b></h5>
      <h5 style="display: inline; margin-left: 100px;"><b>AUDIENCE SCORE</b></h5>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
          <button type="button" class="btn btn-dark" style="margin-bottom: 20px;" (click)="incrementSlowly()">More!</button>
      </div>
    </div>
  </div>